ai_agent.json
{
  "nodes": [
    {
      "parameters": {
        "formTitle": "Use Input",
        "formFields": {
          "values": [
            {
              "fieldLabel": "project description",
              "placeholder": "Enter your project description",
              "requiredField": true
            },
            {
              "fieldLabel": "number of research papers",
              "fieldType": "number",
              "placeholder": "Enter how many research papers you want",
              "requiredField": true
            },
            {
              "fieldLabel": "user email",
              "fieldType": "email",
              "placeholder": "Enter your email to send the final file to your email",
              "requiredField": true
            }
          ]
        },
        "options": {
          "respondWithOptions": {
            "values": {
              "formSubmittedText": "Your response has been recorded. You will receive a sheet at your provided email containing research papers related to your project description within a minute."
            }
          }
        }
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        -3120,
        2300
      ],
      "id": "68db8259-a6b7-4c35-a2b3-42ed45d81301",
      "name": "Form",
      "webhookId": "fc8eb43c-0bfd-4b31-9499-c3554f890d10",
      "notesInFlow": false
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -2880,
        2320
      ],
      "id": "5227df98-e2b8-4f73-8e08-32aba9a1600c",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "EOObql81lW7vOr6Q",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are an AI agent that helps generate clean, relevant file names for research summary sheets. Based on the following project description, generate a short and informative file name suitable for a Google Sheet title. Avoid special characters and keep it under 10 words. Make sure it's relevant and clear.\n\nProject Description: \"{{ $json['project description'] }}\"",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        -2980,
        2560
      ],
      "id": "5a016019-6591-4cb7-b7e4-61ffaeb6c1cd",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "resource": "spreadsheet",
        "title": "={{ $json.text }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        -2680,
        2300
      ],
      "id": "4fe3016c-bc0f-45e7-9a32-4188a9e5aa15",
      "name": "Create spreadsheet",
      "executeOnce": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "GOQ4wWt5D2zd3FOJ",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://www.googleapis.com/drive/v3/files/{{ $json.spreadsheetId }}/permissions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleSheetsOAuth2Api",
        "sendHeaders": true,
        "specifyHeaders": "json",
        "jsonHeaders": "{\n  \"Content-Type\":  \"application/json\"\n}\n",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"role\": \"reader\",\n  \"type\": \"anyone\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -2440,
        2300
      ],
      "id": "f09d1968-f9a4-41d4-b7a6-25cd8476ded3",
      "name": "Make Sheet Public (view)",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "GOQ4wWt5D2zd3FOJ",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6796039b-daeb-45a6-8982-c643468f1611",
              "name": "columns",
              "value": "Title, Authors, Research Paper Summery, Year, URL, IEEE Reference",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2180,
        2300
      ],
      "id": "a6929759-c3f9-44d9-b806-56441111a85f",
      "name": "Define headers for sheet",
      "executeOnce": true
    },
    {
      "parameters": {
        "jsCode": "const headerArray = $input.first().json.columns.split(',');\n\nconst headerObject = {};\nheaderArray.forEach(header => {\n  const trimmedHeader = header.trim();\n  headerObject[trimmedHeader] = trimmedHeader;\n});\n\nreturn [\n  {\n    json: headerObject\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1940,
        2300
      ],
      "id": "1bbd1e9b-cf25-4f32-977c-5a9242511d1a",
      "name": "Create Sheet Headers"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "={{ $('Create spreadsheet').item.json.spreadsheetId }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/16JKXnWevFKiL47mOC8O06orTR0y8Kn4tN0EAzRi6-K4/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "Title",
              "displayName": "Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Authors",
              "displayName": "Authors",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Abstract",
              "displayName": "Abstract",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Year",
              "displayName": "Year",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "URL",
              "displayName": "URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "IEEE Reference",
              "displayName": "IEEE Reference",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        -1700,
        2300
      ],
      "id": "65d8a95d-a12b-4fa0-aa63-3e516a1e8b59",
      "name": "Add header to sheet",
      "alwaysOutputData": false,
      "retryOnFail": false,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "GOQ4wWt5D2zd3FOJ",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "documentId": {
          "__rl": true,
          "value": "={{ $('Create spreadsheet').item.json.spreadsheetId }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/16JKXnWevFKiL47mOC8O06orTR0y8Kn4tN0EAzRi6-K4/edit#gid=0"
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        -1440,
        2300
      ],
      "id": "2f500761-e5b0-4f24-b4eb-3704eed3f99c",
      "name": "Delete duplicate header row from sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "GOQ4wWt5D2zd3FOJ",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "url": "https://api.semanticscholar.org/graph/v1/paper/search",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "={{ $('Form').item.json['project description'] }}"
            },
            {
              "name": "limit",
              "value": "={{ $('Form').item.json['number of research papers'] }}"
            },
            {
              "name": "fields",
              "value": "title,authors,abstract,year,url"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Key",
              "value": "Accept"
            },
            {
              "name": "Value",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -2540,
        2680
      ],
      "id": "c695ae46-7fb8-4cfc-9e57-f2ac11d81ef4",
      "name": "Fetch Research Papers (Semantic Scholar)",
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {
        "fieldToSplitOut": "data",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -2320,
        2680
      ],
      "id": "b864b46a-1261-4f70-bd73-348b40408ab0",
      "name": "Split Research Papers"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -2060,
        2880
      ],
      "id": "a3aabe06-144b-459c-8f9d-0be593b3fcb7",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "EOObql81lW7vOr6Q",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Summarize the following research paper abstract into 4–5 concise and informative lines. Preserve key findings, objectives, and relevance, and avoid generic statements.\n\nAbstract:\n{{ $json.abstract }}\n",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        -2100,
        2540
      ],
      "id": "833a039e-3e03-428c-bc00-b3e963326e16",
      "name": "Abstract Summarizer"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "bf1a9a6f-b215-4b04-a09d-3f053423d9ef",
              "name": "title",
              "value": "={{ $('Split Research Papers').item.json.title }}",
              "type": "string"
            },
            {
              "id": "fb91e515-2b12-4574-ae5c-c5678f9d7e42",
              "name": "authors",
              "value": "={{ $('Split Research Papers').item.json.authors.map(author => author.name).join(', ') }}\n",
              "type": "string"
            },
            {
              "id": "33b7c137-fde0-45b3-9704-c3a35daa88ec",
              "name": "research paper summery",
              "value": "={{ $json.output }}",
              "type": "string"
            },
            {
              "id": "5fd34ff5-2c51-4b76-83a3-654bfe376baa",
              "name": "year",
              "value": "={{ $('Split Research Papers').item.json.year }}",
              "type": "string"
            },
            {
              "id": "fd6638ab-a525-435c-8742-41c038f98f5a",
              "name": "url",
              "value": "={{ $('Split Research Papers').item.json.url }}",
              "type": "string"
            },
            {
              "id": "f40ee6b9-554f-4ae2-95aa-ffbbcddfd9fa",
              "name": "IEEE Reference",
              "value": "={{ \n  $('Split Research Papers').item.json.authors.length <= 6 \n    ? $('Split Research Papers').item.json.authors.map(a => a.name).join(', ') \n    : $('Split Research Papers').item.json.authors[0].name + ' et al.' \n}}, \"{{ $('Split Research Papers').item.json.title }}\", {{ $('Split Research Papers').item.json.year }}. [Online]. Available: {{ $('Split Research Papers').item.json.url }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1740,
        2660
      ],
      "id": "1caef9ed-d0ac-4e7d-bfa0-c89fe02e8276",
      "name": "Format Paper Data for Sheet"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "={{ $('Create spreadsheet').item.json.spreadsheetId }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/16JKXnWevFKiL47mOC8O06orTR0y8Kn4tN0EAzRi6-K4/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Title": "={{ $('Format Paper Data for Sheet').item.json.title }}",
            "Authors": "={{ $('Format Paper Data for Sheet').item.json.authors }}",
            "Year": "={{ $('Format Paper Data for Sheet').item.json.year }}",
            "URL": "={{ $('Format Paper Data for Sheet').item.json.url }}",
            "IEEE Reference": "={{ $('Format Paper Data for Sheet').item.json['IEEE Reference'] }}",
            "Research Paper Summery": "={{ $json['research paper summery'] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Title",
              "displayName": "Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Authors",
              "displayName": "Authors",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Research Paper Summery",
              "displayName": "Research Paper Summery",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Year",
              "displayName": "Year",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "URL",
              "displayName": "URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "IEEE Reference",
              "displayName": "IEEE Reference",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        -1520,
        2660
      ],
      "id": "1cb01af7-0115-4e21-9d2d-cfaf76dfe695",
      "name": "Append data sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "GOQ4wWt5D2zd3FOJ",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('Form').item.json['user email'] }}",
        "subject": "AI Agent: Research Papers Collected for Your Topic",
        "emailType": "text",
        "message": "=Hi, here is the Google Sheet with the research papers you requested:\n\n{{ $('Create spreadsheet').item.json.spreadsheetUrl }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -1320,
        2660
      ],
      "id": "8ae257d7-ae12-4275-86cb-4683f53c6f74",
      "name": "Send a mail with sheet link",
      "webhookId": "cb34985c-94b2-4da6-80bd-e2ef2b94e48f",
      "executeOnce": true,
      "credentials": {
        "gmailOAuth2": {
          "id": "8NPg6lZjLHaILJDF",
          "name": "Gmail account"
        }
      }
    }
  ],
  "connections": {
    "Form": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Create spreadsheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create spreadsheet": {
      "main": [
        [
          {
            "node": "Make Sheet Public (view)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Make Sheet Public (view)": {
      "main": [
        [
          {
            "node": "Define headers for sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Define headers for sheet": {
      "main": [
        [
          {
            "node": "Create Sheet Headers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Sheet Headers": {
      "main": [
        [
          {
            "node": "Add header to sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add header to sheet": {
      "main": [
        [
          {
            "node": "Delete duplicate header row from sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete duplicate header row from sheet": {
      "main": [
        [
          {
            "node": "Fetch Research Papers (Semantic Scholar)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Research Papers (Semantic Scholar)": {
      "main": [
        [
          {
            "node": "Split Research Papers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Research Papers": {
      "main": [
        [
          {
            "node": "Abstract Summarizer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Abstract Summarizer",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Abstract Summarizer": {
      "main": [
        [
          {
            "node": "Format Paper Data for Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Paper Data for Sheet": {
      "main": [
        [
          {
            "node": "Append data sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append data sheet": {
      "main": [
        [
          {
            "node": "Send a mail with sheet link",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "85d33af137e699f199b1914743d0e52fcce3a823e1bfa42b1b705f0822ca6251"
  }
}